//  tablet responsive from 768px to 1440px
@media (min-width: 768px) {
  .header-container {
    @include flex(row, space-between, center, 0);
    padding: 1.6rem 4rem 1.6rem 4rem;
    @import "./header-nav";
    @import "./header-button";
    .burger-icons {
      display: none;
    }
  }
}

//  desktop responsive from 1440px and more
@media (min-width: 1440px) {
  .header-container {
    padding: 1.6rem 16.5rem 1.6rem 16.5rem;
    ul {
      a {
        &:hover {
          opacity: 0.3;
        }
      }
    }
    button {
      &:hover {
        background-color: $light-grey;
        color: $pure-black;
      }
    }
  }
}
