footer {
  width: 100%;
  background-color: $pure-black;
  .footer-container {
    padding: 5.6rem 0;
    width: 100%;
    @include flex(column, center, center, 11.9rem);
    .footer-left {
      @include flex(column, center, center, 0);
      .footer-logo {
        margin-bottom: 3.2rem;
        .footer-nav-desktop {
          display: none;
        }
      }
      .footer-nav-tablet {
        display: none;
        margin-bottom: 9.2rem;
        .footer-ul {
          @include flex(row, center, center, 2.6rem);
          a {
            @include header-font(1.2rem, 2px, $pure-white);
          }
        }
      }
    }
    .footer-icons {
      @include flex(row, center, center, 1.2rem);
      margin-bottom: 5rem;
    }
    .footer-nav-mobile {
      .footer-ul {
        @include flex(column, center, center, 1.9rem);
        a {
          @include header-font(1.2rem, 2px, $pure-white);
        }
      }
    }
  }
  .footer-right {
    @include flex(column, center, center, 3.4rem);
    .footer-invite-div {
      @include flex(row, center, center, 2.2rem);
      @include header-font(1.2rem, 2px, $pure-white);
    }
    .footer-paragraf {
      @include header-font(1.5rem, normal, $pure-white);
      font-weight: 400;
      opacity: 0.5025;
    }
  }
}
