.hide-nav-for-mobile {
  display: none;
}
.header-container {
  position: relative;
  justify-content: space-between;
  @include flex-row;
  @include header-container;
  z-index: 100;

  .burger {
    background-color: #fff;
    .burger-icon2 {
      display: none;
    }
  }

  &::after {
    background-color: #fff;
    @include header-after;
  }
}
.hide-nav-for-desktop {
  display: none;
  &.open {
    @include flex-column;
    width: 100%;
    background-color: #fff;
    padding: 3.2rem;
    @include mob-header-font;
    ul {
      @include flex-column;
      gap: 2rem;
      li {
        a {
          color: #000;
        }
      }
    }
    span {
      margin: 2rem 0;
      width: 100%;
      height: 0.1rem;
      opacity: 0.25;
      background: #000;
    }
    button {
      @include header-button;
    }
  }
}
