// mixin for flex
@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// // mixins for header
// @mixin header-container {
//   width: 100%;
//   padding: 2.8rem 2.4rem 2.8rem 2.4rem;
// }

// header button
@mixin header-button(
  $padding: 1.4rem 6.9rem,
  $background: $pure-black,
  $font-size: 1.5rem,
  $color: $pure-white,
  $letter-spacing: 0.25rem
) {
  padding: $padding;
  background: $background;
  font-size: $font-size;
  color: $color;
  letter-spacing: $letter-spacing;
}

// after and before mixins
@mixin header-after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -5;
}

// mixin for fonts
@mixin header-font(
  $size: 1.5rem,
  $letter-spacing: 0.25rem,
  $color: $pure-black
) {
  font-size: $size;
  letter-spacing: $letter-spacing;
  color: $color;
  font-weight: 700;
}
