// mixin for flex
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// mixins for container
@mixin header-container {
  width: 100%;
  padding: 2.8rem 2.4rem 2.8rem 2.4rem;
}
@mixin header-button {
  padding: 1.4rem 6.9rem;
  background: #000;
  text-align: center;
  letter-spacing: 0.25rem;
  color: #fff;
}

// after and before mixins
@mixin header-after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -5;
}
// mixin for fonts
@mixin mob-header-font {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
